<%= render layout: 'shared/layouts_wrapper' do %>
  
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <%= link_to profile_path, class: "nav-link #{'active' if @tab == 'posts'}" do %>
        自分の投稿
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to favorited_posts_profile_path, class: "nav-link #{'active' if @tab == 'favorites'}" do %>
        お気に入り
      <% end %>
    </li>
  </ul>

  <div id="profile_feed_and_post_section">
    <div class="filter-bar d-flex justify-content-between align-items-center mb-3 p-2 bg-light rounded">
      <div id="city-filter-bar">
        <%= render 'users/filter_bar', current_tab: @tab %>
      </div>
    </div>

    <% current_form_post = (@tab == "posts" ? @post : nil) %>
    
    <%= render layout: 'shared/feed_and_post_section', locals: { posts: @posts, post: current_form_post, city: @city } do %>
    <% end %>
  </div>

  <% content_for :side_content do %>
    <%= render 'top/side_content' %>
  <% end %>
<% end %>
