<% provide(:title, "自分のページ") %>
<%= render layout: 'shared/layouts_wrapper' do %>

  <div id="profile_feed_and_post_section">
    <%# current_form_post = (@tab == 'posts' ? @post : nil) %>
    <%= render layout: 'shared/feed_and_post_section', locals: { posts: @posts, post: @post, city: @city } do %>
      <div class="filter-bar d-flex justify-content-between align-items-center mb-3 p-2 bg-light rounded shadow-sm">
        <div id="city-filter-container">
          <%= render 'users/filter_bar',  city: @city, current_tab: @tab %>
        </div>
        <div id="view-toggle-container">
          <%= render 'users/view_toggle', current_tab: @tab %>
        </div>
      </div>
    <% end %>
  </div>
  <% content_for :side_content do %>
    <%= render 'top/side_content' %>
  <% end %>

<% end %>
