<div class="row" data-controller="modal">
  <div id="current_expression" class="current-character col-sm-4">
    <%= image_tag cdn_image_url(current_expression.image.variant(:display)), class: "current-character__image" %>
    <button type="button" class="btn btn-outline-dark current-character__button" data-action="click->modal#open">表情を変更</button>
  </div>
  <div class="col-sm-8 post-form-container">
    <%= form_with(model: post, id: "post-form",
                  data: {
                    controller: "post-form",
                    action: "turbo:submit-end->post-form#reset" 
                  }) do |f| %>
      <%= f.text_area :content, class: "form-control", rows: 5 %>
      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>
  </div>

  <dialog data-modal-target="dialog" id="expression-modal" data-action="click->modal#clickOutside" class="expression-modal">
    <div id="expression-modal-content">
      <%= render 'expressions/modal_inner' %>
    </div>
  </dialog>
</div>
