<nav class="d-none d-lg-block side-nav">
  <ul role="list">
    <li>
      <p>現在のCity： <%= viewing_city.name %></p>
      <%#= Cityが増えたら追加 %>
      <%= button_to "他の街へ移動", shuffles_path, method: :post, class: "btn btn-outline-dark" %>
    </li>
    <li>
    <% if current_character && current_expression %>
      <p>現在のCharacter: <%= current_character.name %></p>
      <%= image_tag cdn_image_url(current_expression.image.variant(:display)), class: "post__avatar" %>
      <%= button_to "キャラクターの更新", re_rolls_path, method: :post, class: "btn btn-outline-dark" %>
    <% else %>
      <p>キャラクターが未構成です</p>
      <%= button_to "キャラクターを作成", re_rolls_path, method: :post, class: "btn btn-primary" %>
    <% end %>
    </li>
  </ul>
</nav>
