<h1>内容の確認</h1>
<%= form_with model: @inquiry, url: inquiries_path, local: true, data: { turbo: false } do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :message %>

  <p><strong>お名前:</strong> <%= @inquiry.name %></p>
  <p><strong>メールアドレス:</strong> <%= @inquiry.email %></p>
  <p><strong>内容:</strong><br><%= simple_format(@inquiry.message) %></p>

  <%= f.submit "送信する" %>
  <%= f.submit "戻る", name: "back" %>
<% end %>
