<h1>お問い合わせ</h1>
<%= form_with model: @inquiry, url: confirm_inquiries_path, local: true, data: { turbo: false } do |f| %>
  <% if @inquiry.errors.any? %>
    <div style="color: red;">
      <ul>
        <% @inquiry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div><%= f.label :name, "お名前" %><br><%= f.text_field :name %></div>
  <div><%= f.label :email, "メールアドレス" %><br><%= f.email_field :email %></div>
  <div><%= f.label :message, "お問い合わせ内容" %><br><%= f.text_area :message %></div>
  <%= f.submit "確認画面へ" %>
<% end %>
