<header id="main-header" class="header navbar">
  <div class="container-fluid header-container">
    <%= link_to "RolePlayn", root_path, class: "header-logo col-md-3" %>

    <div class="col-md-6 world-select text-center">
      <div class="dropdown">
        <button class="btn btn-link dropdown-toggle city-select-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <%= @city&.name || "街を選択" %>
        </button>
        
        <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
          <% @worlds.each do |world| %>
            <li class="dropdown-header text-uppercase small fw-bold text-muted border-bottom">
              <%= world.name %>
            </li>
            <% world.menu_cities.each do |city| %>
              <li>
                <%= link_to city.name, city_path(city), class: "dropdown-item #{'active' if city == @city}" %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-md-3 notification text-end">
      <% if user_signed_in? %>
        <% if current_user.can_access_admin? %>
          <%= link_to '管理パネル', avo_path, class: 'text-sm text-gray-600 font-bold', data: { turbo: false } %>
        <% end %>
        <span>
          <%= link_to profile_path do %>
            <% if current_user.login_id.present? %>
              <%= current_user.login_id %>
            <% else %>
              <%= current_user.email %>
            <% end %>
          <% end %>
          でログイン中
        </span>
        <%= link_to "設定", edit_user_registration_path %>
        <%= link_to "ログアウト", destroy_user_session_path, 
          data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？" }, 
          class: "btn-logout" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "btn-login" %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn-signup" %>
        <% end %>
    </div>
  </div>
</header>
