<header id="main-header" class="header navbar">
  <div class="container-fluid header-container">
    <div class="header__left-content">
      <% unless hide_sidebar? %>
        <button class="d-lg-none navbar-toggler-button" type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvas-responsive"
          aria-controls="offcanvas-responsive">
          <%= nav_icon(:hamburger) %>
        </button>
      <% end %>
      <%= link_to root_path, class: "header-logo #{hide_sidebar? ? 'header-logo--appear' : 'header-logo--hide'}" do %>
        <%= image_tag "roleplayn_logo.svg", alt: "RolePlayn" %>
      <% end %>
    </div>

    <div class="col-md-6 world-select text-center">
      <button class="btn city-select-button" type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanva-top-menu"
        aria-controls="offcanva-top-menu">
        <%= @city&.name || "街を選択" %> <%= nav_icon(:chevron_down, size: 15) %>
      </button>
    </div>
      <div class="navbar-toggler-container">
        <% unless hide_sidebar? %>
          <button class="d-xl-none navbar-toggler-button" type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvas-responsive-right"
            aria-controls="offcanvas-responsive-right">
            <%= nav_icon(:three_dots) %>
          </button>
        <% end %>
      </div>
  </div>
</header>

<div class="offcanvas offcanvas-top main-city-nav-container" tabindex="-1" id="offcanva-top-menu">
  <ul class="main-city-nav" aria-labelledby="offcanvaTopMenu" role="list">
    <% @worlds.local.each do |world| %>
      <li><%= world.name %></li>
      <% world.menu_cities.local.each do |city| %>
        <li class="main-city-nav__item">
          <%= link_to city_path(city), class: "main-city-nav__link #{'active' if city == @city}" do %>
            <div class="main-city-nav__image-wrapper">
              <% if city.image.attached? %>
                <%= cdn_image_tag city&.image, variant: :display, class: "main-city-nav__img" %>
              <% else %>
                <div class="main-city-nav__placeholder">
                  <i class="bi bi-image text-muted opacity-50"></i> 
                </div>
              <% end %>
            </div>
            <div class="main-city-nav__info">
              <span class="main-city-nav__name"><%= city.name %></span>
              <span class="main-city-nav__description">
                <%= city.description.presence || "No description available." %>
              </span>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
