<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Role Playn" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render 'layouts/head' %>
  </head>

  <body>
    <div class="wrapper">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= render 'layouts/header' %>
      <%= yield %>    
    </div>  
  </body>
</html>
