<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Role Playn" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render 'layouts/head' %>
  </head>

  <body>
    <div class="wrapper">
      <% discard_keys = ['scroll_to_top'] %>
      <% flash.each do |key, message| %>
        <% next if discard_keys.include?(key.to_s) %>
        <%= content_tag(:div, message, class: "alert alert-#{key}") %>
      <% end %>
      <%= render 'layouts/header' %>
      <%= yield %>
      <div id="remote_modal_wrapper"></div>
    </div>  
  </body>
</html>
